@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: "Roboto", sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
}

.card {
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0px 2px 23px #26395338;
  width: 400px;
}

.midlleCard {
  background: url("https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/2/5/c/9/25c914c8c3b9e9923206f3ac4cb1a06f.jpg") center/cover;
  width: 100%;
  height: 250px;
}

.title {
  color: #2b3d59;
}

.secondText {
  color: #828fa1;
}

.bottomText {
  color: #445b73;
}

.topCard {
  padding: 20px;
  padding-top: 0px;
}

.bottomCard {
  padding: 20px;
}

.actions {
  background: none;
  border: none;
  color: purple;
}

